modules = [
    "hostname",
    "underline:16",
    "os",
    "host",
    "uptime",
    "packages",
    "shell",
    "displays",
    "desktop",
    "theme",
    "icontheme",
    "terminal",
    "cpu",
    "gpu",
    "memory",
    "mounts",
    "player",
    "localip",
    "locale",
    "space",
    "colors",
    "bright_colors"
]
unknown_as_text = false
allow_commands = false
separator = ": "
title_color = "bright_magenta"
title_bold = true
title_italic = false
decimal_places = 0
inline_values = false
underline_character = '-'
color_character = "   "  
color_margin = 0
color_use_background = true 
use_os_color = true
segment_top = "{color-white}[======------{color-brightmagenta} {name} {color-white}------======]"
segment_bottom = "{color-white}[======------{color-brightmagenta} {name_sized_gap} {color-white}------======]"
progress_left_border = '['
progress_right_border = ']'
progress_progress = '='
progress_empty = ' '
progress_target_length = 20
use_ibis = false
suppress_errors = true
percentage_color_thresholds = []

[ascii]
display = true
side = "left"
margin = 4
bold = true
mode = "os"
solid_color = "bright_magenta"
band_colors = ["bright_magenta", "bright_cyan", "bright_white", "bright_cyan", "bright_magenta"]

[hostname]
title = ""
format = "{color-title}{username}{color-white}@{color-title}{hostname}"

[cpu]
title = "CPU"
format = "{name} ({thread_count}) @ {max_clock_ghz}GHz"
remove_trailing_processor = true
decimal_places = 3

[gpu]
amd_accuracy = true
ignore_disabled_gpus = true
detect_through_driver = false
title = "GPU"
format = "{vendor} {model}"

[memory]
title = "Memory"
format = "{used} / {max}"

[swap]
title = "Swap"
format = "{used} / {total} ({percent})"

[mounts]
title = "Disk ({mount})"
format = "{space_used} / {space_total} ({percent})"
ignore = []

[host]
title = "Host"
format = "{host}"
newline_chassis = false
chassis_title = "Chassis"
chassis_format = "{chassis}"

[displays]
title = "Display ({make} {model})"
format = "{width}x{height} @ {refresh_rate}Hz ({name})"
scale_size = false

[os]
title = "OS"
format = "{distro}"
newline_kernel = true
kernel_title = "Kernel"
kernel_format = "{kernel}"

[packages]
title = "Packages"
format = "{count} ({manager})"
ignore = []

[desktop]
title = "Desktop"
format = "{desktop} ({display_type})"

[terminal]
title = "Terminal"
format = "{name} {version}"

[shell]
title = "Shell"
format = "{name} {version}"
show_default_shell = false

[uptime]
title = "Uptime"

[editor]
title = "Editor"
format = "{name} {version}"
fancy = true

[locale]
title = "Locale"
format = "{language}.{encoding}"

[theme]
title = "Theme"
format = "{gtk2} [GTK2], {gtk3} [GTK3]"

[icontheme]
title = "Icons"
format = "{gtk2} [GTK2], {gtk3} [GTK3]"

[player]
title = "Player ({player})"
format = "{track} by {track_artists} ({album}) [{status}]"
ignore = []

[battery]
title = "Battery {index}"
format = "{percentage}%"

[initsys]
title = "Init System"
format = "{name} {version}"

[processes]
title = "Total Processes"

[datetime]
title = "Date Time"
format = "%H:%M:%S on %e %B %G"

[localip]
title = "Local IP ({interface})"
format = "{addr}"
